h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 44px;
    font-weight: 900;
    color: blueviolet;
}

a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: violet;
    font-style: italic;
}

